



figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.abc figure img {
    cursor: pointer;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}
.abc figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}