.bg-btn-color{
    background-color: #00b02a;
}
.bg-btn-color:hover{
    background-color: #00b02a !important;

}
.bg-btn-color:focus{
    background-color: #00b02a !important;
    
}
.bg-btn-color:active{
    background-color: #00b02a !important;
    
}