/* .text-set{
    width: 35%;
    position: relative;
    bottom: 350px;
}
@media (min-width:0px) and (max-width:992px) {
    .text-set{
        width: 70%;
        position: relative;
        bottom: 260px;
    }
}
.fixed{
    position: fixed;
    top: 30%;
    left: 0;
    
}
@media (min-width:481px) and (max-width:768px) {
    .text-set{
        width: 80%;
        position: relative;
        bottom: 160px;
    }
}
@media (min-width:0px) and (max-width:481px) {
    .text-set{
        width: 80%;
        position: relative;
        bottom: 140px;
    }
} */


/* 
.text-set {
    width: 35%;
    position: relative;
    bottom: 350px;
  }
  .carousel-item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (min-width: 0px) and (max-width: 992px) {
    .text-set {
      width: 70%;
      bottom: 260px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .text-set {
      width: 80%;
      bottom: 360px;
    }
  }
  
  @media (max-width: 480px) {
    .text-set {
      width: 80%;
      bottom: 140px;
    }
  }
  
  @media (max-width: 767px) {
    .text-set {
      bottom: 100px; 
    }
  }
  
  @media (max-width: 320px) {
    .text-set {
      bottom: 80px; 
    }
  }
   */









   .carousel {
    margin: 50px auto;
    max-width: 800px;
  }
  
  .carousel-item {
    transition: transform 1s ease;
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1s;
  }
  
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
  .set{
    /* width: 40%; */
  }
  @media (max-width:768) {
    .set{
      width: 60%;
      padding: 0;
      margin: 0;
    }
  }
  .card-img-overlay {
    display: flex
    !important;
    align-items: center !important;
    /* text-align: center; */
  }
  .abc {
    display: flex !important;
    align-items: center !important; /* Vertically center */
  }
  
  .card-content {
    flex: 1 !important; /* Take remaining space */
  }
  
  .card-text {
    text-align: center !important; /* Horizontally center */
  }
  
  